.popup {
  background-color: #19012c;
  position: absolute;
  left: 20%;
  top: 10%;
  bottom: auto;
  right: auto;
  width: 60%;
  height: auto;

  .modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .closeIcon {
      margin: 2%;
      width: 2rem;
      cursor: pointer;
    }
  }
  .popupContent {
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    margin-bottom: 10%;
    .title {
      font-size: 2rem;
    }
    .laterButton {
      margin-top: 2%;
      margin-left: 2%;
      width: 50%;
    }
    .completionText {
      margin-top: 2%;
      margin-bottom: 4%;
    }
    .logContainer {
      display: flex;
      flex-direction: column;
      .logLine {
        display: flex;
        flex-direction: row;
        margin-bottom: 2%;
        .statusContainer {
          margin-left: 30%;
          display: inline-flex;
          flex-direction: row;
          justify-content: space-evenly;
          gap: 25%;
          align-items: center;
          align-content: center;
          .selectedStatus {
            font-weight: bold;
            width: 40%;
            color: #ee1e50;
          }
          .status {
            width: 40%;
            cursor: pointer;
            filter: brightness(40%);
          }
        }
      }
      .dateLine {
        display: flex;
        flex-direction: row;
        align-items: center;
        .on {
          margin-left: 5%;
        }
        .completionDate {
          margin-left: 5%;

          background-color: #ffffff;
        }
      }
      .saveButton {
        background-color: #9a1737;
        font-size: large;
        margin: 5%;
        width: 20%;
        height: 2.5rem;
        margin-left: 25%;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
    }
  }
}
