.entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  .title {
    font-size: medium;
  }
  .event {
  }
  .notes {
  }

  .icon {
    width: 5%;
    height: auto;
    cursor: pointer;
  }
}
